.page {

    &__stages {
        margin-top: 200px;
        @media (max-width: 1000px) {
            margin-top: 120px;
        }
    }
}
.stages {

    &__conainer {
    }

    &__top {
        display:inline-block;
        @media (max-width: 576px){            
            margin-bottom: 148px;
        } 
        @media (max-width: 370px){            
            margin-bottom: 40px;
        } 
    }

    &__mixtitle {
        display: flex;
        align-items: center;
        @media (max-width: 576px){
            flex-direction: column;
            align-items: start;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 54px;
        line-height: 120%;
        text-transform: uppercase;
        font-family: "Merriweather", sans-serif;
        @media (max-width: 1000px) {
            font-size: 44px;
        }
        @media (max-width: 576px){
            font-size: 38px;
        }
   
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #3057a2;
        padding-left: 20px;
        @media (max-width: 576px){
            font-size: 18px;
            padding-left: 0;
        }
    }

    &__body {
        display: grid;
        margin-top: 54px;
        gap: 20px;
        @media (max-width: 1000px) {
           gap: 0;
        }

        @media (max-width: 576px){
            display: none;            
        }     
    
    }

    &__item {
        display: flex; 
    }
    &__item:hover {
        background-color: rgba(217, 217, 217, 1);
    }
    &__item_1 {
        grid-row: 1/2;
        grid-column: 1/2;
        
    }
    &__item_2 {
        grid-row: 1/2;
        grid-column: 2/3;   
    }
    &__item_3 {
        grid-row: 1/3;
        grid-column: 3/4;
        @media (max-width: 1000px) {
            grid-row: 2/3;
            grid-column: 1/2;
        }  
    }
    &__item_4 {
        grid-row: 2/3;
        grid-column: 1/2;
        @media (max-width: 1000px) {
            grid-row: 2/3;
            grid-column: 2/3;
        } 
    }
    &__item_5 {
        grid-row: 2/3;
        grid-column: 2/3;
        @media (max-width: 1000px) {
            grid-row: 3/4;
            grid-column: 1/2;
        }   
    }
    &__item_6 {
        grid-row: 3/4;
        grid-column: 1/2;
        @media (max-width: 1000px) {
            grid-row: 3/4;
            grid-column: 2/3;
        }  
    }
    &__item_7 {
        grid-row: 3/4;
        grid-column: 2/4;
        @media (max-width: 1000px) {
            grid-row: 4/5;
            grid-column: 1/2;
        } 
    }

    &__slider {
        display: none;
        @media (max-width: 576px){
            display: block;
            // margin-top: 148px;
        }
    }

    &__number, &__number_slider {
        
        margin: 20px 0 0 20px;
        padding: 11px 12px 11px 12px;
        position: relative;
        span {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items:center;
            top: 0px;
            left: -8px;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            background-color: white          
        }
        @media (max-width: 576px){
            span {
                top: -10px;
            }          
        }

        @media (max-width: 370px){
            margin: 10px 0 0 10px;    
        }
    }

    &__number{
      
    }

    &__number_slider {      
        span {           
            top: -5px;   
            left: 0px;               
        }        
    }



    &__text, &__text_slider {       
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        margin: 20px 20px 20px 16px;
       
      
    }

    &__text_slider {
    

    }

    &__text_slider {
        // margin-left: 28px;
        margin: 14px 20px 14px 28px;
        font-size: 18px;
        @media (max-width: 1000px) {
            margin: 20px;
        }
        @media (max-width: 370px) {
            margin: 10px 15px 15px 20px;
        }
        // @media(max-width: 350px){
        //     margin: 10px 15px 15px 20px;
        // }
    }
}


.slider {
    position: relative;

    &__wrapper {
        overflow: hidden;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
      
        width: 335px;
        height: 300px;
        background-color: rgba(217, 217, 217, 1);
        @media(max-width: 350px) {
            width: 300px;
            height: 260px;
        }
    }
    &__item-wrapper {
      
        display: flex;

    }

    &__item-wrapper:first-child {
        margin-top: 48px;  
        @media(max-width: 350px) {
            margin-top: 15px; 
        } 
    }


    &__prev, &__next {
        width: 36px; 
        height: 36px;       
        border-radius: 50%;
        position: relative;
        background: #313131;
        cursor: pointer;
    }



    &__prev:hover{
        background:#fbce51; 
        transition: all 0.5s ease 0s;  
    } 
    &__next:hover {  
        background:#fbce51; 
        transition: all 0.5s ease 0s;  
    }


    
    &__prev::after {
        position: absolute;
        content: '';
        display: inline-block;
        top: 12px;
        left: 14px;
        width:10px;
        height: 10px;
        border-top: 1.64px solid #ffff;
        border-right: 1.64px solid #ffff;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    &__prev:disabled, &__next:disabled {  
        background: rgba(49, 49, 49, 0.2);       
    }

  

    &__next::after {
        position: absolute;
        content: '';
        display: inline-block;
        top: 12px;
        right: 16px;
        width:10px;
        height: 10px;
        border-top: 1.64px solid #ffff;
        border-right: 1.64px solid #ffff;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &__counter-dots {
        display: none;
        @media (max-width: 576px){
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 28px;
        }    
    }
  

    &__indicators {    
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: flex;
        justify-content: center;
        margin: 0 16px;       
        list-style: none;
        column-gap: 6px;
    }
}


.dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #d9d9d9;
    transition: opacity .6s ease;
}

.dot-active {
    background-color: #1f1f1f;
}
