@import '../variables/variables';

.page {
    flex: 1 1 auto;
    &__main-block {
        background: url("../img/bg.png") center center/cover no-repeat;

        @media (max-width: 375px) {
            background: url("../img/bg-small.png") center center/cover no-repeat;
        }
    }
}

.page {

    &__string {    
        display: flex;
        overflow: hidden;       
        margin: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: $orangeColor;
    }
}
.string {

    &__wrapper {
        flex-shrink: 0;
        display: flex;      
        min-width: 100%;
        background-color: $orangeColor;

        span{
            position: relative;
            padding: 12px;
            
    
        }
       
        span::after {
            border-radius: 100%;
            background-color: #fff;
            width: 6px;
            height: 6px;
            content: '';
            display: inline-block;
            top: 26px;
            left: 10px;   
            position: absolute;  
            @media (max-width: 576px){            
                top: 14px;         
            }     
        }
    }

    &__line {
        background-color: $orangeColor;
        color: #fff;
        font-weight: 400;
        font-size: 22px;
        line-height: 110%;
        text-transform: uppercase;
        font-family:  "Merriweather", sans-serif; 
        height: 60px;        
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in-out;     

        @media (max-width: 576px){            
            font-size: 16px;
            height: 38px;           
        }
    }
}

.marquee {
    animation: scroll 20s linear infinite;
}
  
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100%));
    }
}

//======Page main=======================


.main-block {
    position: relative;

    &__body {
        padding: 124px 0 132px 0;
        position: relative;
        z-index: 2;
        max-width: 542px;
        @media (max-width: 576px) {
            padding: 110px 0 132px 0;
        }
        @media (max-width: 375px) {
            padding: 90px 0 291px 0;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items:center;
        font-weight: 400;
        font-size: 60px;
        line-height: 110%;
        font-family: "Merriweather", sans-serif;
        text-transform: uppercase;  
        @media (max-width: 767px) {
            font-size: 50px;
        }   
        @media (max-width: 576px) {
            font-size: 40px;
        }
        @media (max-width: 375px) {
            font-size: 36px;
        }
        @media (max-width: 354px) {
            font-size: 32px;
        } 
    }

    &__title-part {         
        &:nth-child(1) {
            align-self: start;           
        }

        &:nth-child(4) {
            align-self: end;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        margin-top: 24px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
            row-gap: 14px;
            margin-top: 32px;
        }

    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        border-radius: 66px;
        padding: 5px 49px;
        width: 263px;
        min-height: 72px;
        border: 2px solid #1f1f1f;
        a{
          display: block;
          text-align: center;
        }
        @media (max-width: 576px){
            background-color: #fff;
            opacity: 0.9;
            border: none;
        }
   

        &_black {
            color: #fff;
            background-color: #1f1f1f;
        }
        
        &_black:hover {           
            background-color: #fbce51;
            color: #1f1f1f;
            transition: all 0.5s ease 0s;
        }

        &_light:hover {           
            background-color: #1f1f1f;
            color: #fff;
            transition: all 0.5s ease 0s;
        }

        @media (max-width: 375px) {
            padding: 18px 20px;
            width: 335px;
        }
        @media (max-width: 354px) {          
           padding: 14px 18px;
           max-width: 300px;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

